In [1]:
!pip install scikit-learn==1.7.1
!pip show scikit-learn

import pandas as pd
import numpy as np

Requirement already satisfied: scikit-learn==1.7.1 in c:\users\asus\anaconda3\lib\site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn==1.7.1) (1.26.4)
Requirement already satisfied: scipy>=1.8.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn==1.7.1) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn==1.7.1) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn==1.7.1) (3.5.0)
Name: scikit-learn
Version: 1.7.1
Summary: A set of python modules for machine learning and data mining
Home-page: https://scikit-learn.org
Author:
Author-email:
License:
Location: C:\Users\Asus\anaconda3\Lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: imbalanced-learn

In [2]:
match= pd.read_csv('matches.csv')
deli= pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [4]:
match.shape

(1095, 20)

In [5]:
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [6]:
deli.shape

(260920, 17)

In [7]:
total_score_df= deli.groupby(['match_id', 'inning']).sum()['total_runs'].reset_index()

In [8]:
total_score_df= total_score_df[total_score_df['inning']== 1]

In [9]:
total_score_df['total_runs']= total_score_df['total_runs'] + 1

In [10]:
total_score_df

      match_id  inning  total_runs
0       335982       1         223
2       335983       1         241
4       335984       1         130
6       335985       1         166
8       335986       1         111
...        ...     ...         ...
2207   1426307       1         215
2209   1426309       1         160
2211   1426310       1         173
2213   1426311       1         176
2215   1426312       1         114

[1095 rows x 3 columns]

# merge total_score_df to match.csv on 'id'

In [11]:
match_df= match.merge(total_score_df[['match_id', 'total_runs']], left_on= 'id', right_on= 'match_id')

In [12]:
match_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111

# removing old teams

In [13]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [14]:
teams= [
    'Mumbai Indians', 
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Chennai Super Kings',
    'Sunrisers Hyderabad',
    'Delhi Capitals',
    'Punjab Kings',
    'Lucknow Super Giants', 
    'Gujarat Titans',
    'Royal Challengers Bengaluru'
]

In [15]:
match_df['team1']= match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2']= match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['winner']= match_df['winner'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1']= match_df['team1'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')
match_df['team2']= match_df['team2'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')
match_df['winner']= match_df['winner'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')

match_df['team1']= match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2']= match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['winner']= match_df['winner'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1']= match_df['team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
match_df['team2']= match_df['team2'].str.replace('Kings XI Punjab', 'Punjab Kings')
match_df['winner']= match_df['winner'].str.replace('Kings XI Punjab', 'Punjab Kings')

In [16]:
match_df= match_df[match_df['team1'].isin(teams)]
match_df= match_df[match_df['team2'].isin(teams)]

In [17]:
match_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,223
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,241
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,130
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,166
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,111

In [18]:
match_df.shape

(980, 22)

# taking only matches with no rain

In [19]:
match_df['method']= match_df['method'].fillna(0)

In [20]:
match_df= match_df[match_df['method']== 0]

In [21]:
match_df= match_df[['match_id', 'city', 'winner', 'total_runs']]

In [22]:
match_df.head()

   match_id        city                       winner  total_runs
0    335982   Bangalore        Kolkata Knight Riders         223
1    335983  Chandigarh          Chennai Super Kings         241
2    335984       Delhi               Delhi Capitals         130
3    335985      Mumbai  Royal Challengers Bengaluru         166
4    335986     Kolkata        Kolkata Knight Riders         111

In [23]:
delivery_df= match_df.merge(deli, on= 'match_id')

In [24]:
delivery_df= delivery_df[delivery_df['inning']== 2]

In [25]:
delivery_df['current_score']= delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [26]:
delivery_df['runs_left']= delivery_df['total_runs_x']-delivery_df['current_score']

In [27]:
delivery_df['balls_left']= 120 - (delivery_df['over']*6  + delivery_df['ball'])

In [28]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,222,119
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,221,118
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,221,117
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,220,116
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230977,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,1,NaN,0,NaN,NaN,NaN,110,4,61
230978,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,111,3,60
230979,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,112,2,59
230980,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,1,NaN,0,NaN,NaN,NaN,113,1,58
230981,1426312,Chennai,Kolkata Knight Riders,114,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,1,NaN,0,NaN,NaN,NaN,114,0,57

In [29]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")

In [30]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x:x if x == "0" else "1")

In [31]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')

In [32]:
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum()
delivery_df['wickets'] = 10 - wickets
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
124,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,NaN,0,0,NaN,NaN,1,222,119,10
125,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,wides,0,0,NaN,NaN,2,221,118,10
126,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,0,0,NaN,NaN,2,221,117,10
127,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,NaN,0,0,NaN,NaN,3,220,116,10
128,335982,Bangalore,Kolkata Knight Riders,223,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,NaN,0,0,NaN,NaN,4,219,115,10

In [33]:
# CRR & RRR
delivery_df['crr']= (delivery_df['current_score']*6)/ (120- delivery_df['balls_left'])
delivery_df['rrr']= (delivery_df['runs_left']*6)/ delivery_df['balls_left']

In [34]:
delivery_df['batting_team']= delivery_df['batting_team'].str.replace('Delhi Daredevils', 'Delhi Capitals')
delivery_df['bowling_team']= delivery_df['bowling_team'].str.replace('Delhi Daredevils', 'Delhi Capitals')

delivery_df['batting_team']= delivery_df['batting_team'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')
delivery_df['bowling_team']= delivery_df['bowling_team'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')

delivery_df['batting_team']= delivery_df['batting_team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
delivery_df['bowling_team']= delivery_df['bowling_team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

delivery_df['batting_team']= delivery_df['batting_team'].str.replace('Kings XI Punjab', 'Punjab Kings')
delivery_df['bowling_team']= delivery_df['bowling_team'].str.replace('Kings XI Punjab', 'Punjab Kings')

delivery_df['city']= delivery_df['city'].str.replace('Bangalore', 'Bengaluru')

In [35]:
delivery_df= delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df= delivery_df[delivery_df['bowling_team'].isin(teams)]

In [36]:
delivery_df.sample()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,crr,rrr
110796,980959,Bengaluru,Kolkata Knight Riders,186,2,Kolkata Knight Riders,Royal Challengers Bengaluru,14,1,YK Pathan,...,0,0,NaN,NaN,106,80,35,6,7.482353,13.714286

In [37]:
def res(row):
    return 1 if row['batting_team']== row['winner'] else 0

In [38]:
delivery_df['result']= delivery_df.apply(res, axis= 1)

In [39]:
df= delivery_df[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets', 'total_runs_x', 'crr', 'rrr', 'result']]

In [40]:
df= df.sample(df.shape[0])

In [41]:
df.dropna(inplace= True)

In [42]:
df= df[df['balls_left'] != 0]

In [43]:
df['result'].value_counts()

result
1    54429
0    50914
Name: count, dtype: int64

In [44]:
df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
221607,Delhi Capitals,Gujarat Titans,Ahmedabad,75,113,10,90,12.857143,3.982301,1
55209,Kolkata Knight Riders,Punjab Kings,Chandigarh,107,107,10,125,8.307692,6.000000,1
76919,Punjab Kings,Royal Challengers Bengaluru,Bengaluru,143,91,9,175,6.620690,9.428571,1
229572,Mumbai Indians,Lucknow Super Giants,Mumbai,78,21,5,215,8.303030,22.285714,0
71179,Mumbai Indians,Kolkata Knight Riders,Kolkata,132,95,10,160,6.720000,8.336842,1
...,...,...,...,...,...,...,...,...,...,...
190413,Chennai Super Kings,Royal Challengers Bengaluru,Pune,55,29,6,174,7.846154,11.379310,0
99644,Punjab Kings,Sunrisers Hyderabad,Chandigarh,138,101,8,151,4.105263,8.198020,0
4904,Kolkata Knight Riders,Punjab Kings,Chandigarh,154,95,7,179,6.000000,9.726316,0
188891,Gujarat Titans,Royal Challengers Bengaluru,Mumbai,120,76,10,171,6.954545,9.473684,1
145904,Chennai Super Kings,Mumbai Indians,Chennai,47,15,1,156,6.228571,18.800000,0

# Model Training

In [45]:
X= df.iloc[:,:-1]
y= df.iloc[:,-1]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.30, random_state=0)

In [46]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
trf= ColumnTransformer([
    ('ohe', OneHotEncoder(sparse_output= False, drop='first'), ['batting_team', 'bowling_team', 'city']),
    #('sc', StandardScaler(), ['runs_left', 'balls_left', 'wickets', 'total_runs_x', 'crr', 'rrr'])
], remainder= 'passthrough')

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [48]:
pipe= Pipeline(steps=[
    ('step1', trf),
    ('step2', LogisticRegression(solver= 'liblinear'))
])

In [ ]:
pipe.fit(X_train, y_train)

In [ ]:
y_pred= pipe.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
pipe.predict(X_test)[0]

In [ ]:
pipe.predict_proba(X_test)[0]

In [ ]:
X_test.head()

In [ ]:
df.city.unique()

In [ ]:
import pickle
pickle.dump(pipe, open('ipl_pipe.pkl', 'wb'))

# Toss

In [ ]:
match.head()

In [ ]:
toss_df= match[['team1', 'team2', 'city', 'match_type', 'toss_winner']]

In [ ]:
def res(row):
    return 1 if row['team1']== row['toss_winner'] else 0

In [ ]:
toss_df['result']= toss_df.apply(res, axis= 1)

In [ ]:
toss_df= toss_df[['team1', 'team2', 'city', 'match_type', 'result']]

In [ ]:
toss_df.head()

In [ ]:
toss_df['team1']= toss_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
toss_df['team2']= toss_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')
#toss_df['toss_winner']= toss_df['toss_winner'].str.replace('Delhi Daredevils', 'Delhi Capitals')

toss_df['team1']= toss_df['team1'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')
toss_df['team2']= toss_df['team2'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')
#toss_df['toss_winner']= toss_df['toss_winner'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')

toss_df['team1']= toss_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
toss_df['team2']= toss_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
#toss_df['toss_winner']= toss_df['toss_winner'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

toss_df['team1']= toss_df['team1'].str.replace('Kings XI Punjab', 'Punjab Kings')
toss_df['team2']= toss_df['team2'].str.replace('Kings XI Punjab', 'Punjab Kings')
#toss_df['toss_winner']= toss_df['toss_winner'].str.replace('Kings XI Punjab', 'Punjab Kings')

toss_df['city']= toss_df['city'].str.replace('Bangalore', 'Bengaluru')

In [ ]:
toss_df= toss_df[toss_df['team1'].isin(teams)]
toss_df= toss_df[toss_df['team2'].isin(teams)]

In [ ]:
toss_df= toss_df[~toss_df['match_type'].isin(['Elimination Final', '3rd Place Play-Off', 'Semi Final'])]

In [ ]:
toss_df.shape

In [ ]:
toss_df.head()

In [ ]:
Xt= toss_df.iloc[:,:-1]
yt= toss_df.iloc[:,-1]

from sklearn.model_selection import train_test_split
Xt_train, Xt_test, yt_train, yt_test= train_test_split(Xt, yt, test_size= 0.20, random_state=42)

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
trft= ColumnTransformer([
    ('ohe', OneHotEncoder(sparse_output= False, drop='first'), ['team1', 'team2', 'city', 'match_type'])
], remainder= 'passthrough')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [ ]:
pipe_t= Pipeline(steps=[
    ('step1', trft),
    ('step2', RandomForestClassifier(random_state=42))
])

In [ ]:
pipe_t.fit(Xt_train, yt_train)

In [ ]:
yt_pred= pipe_t.predict(Xt_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(yt_test, yt_pred)

In [ ]:
print(match['toss_winner'].value_counts(normalize=True))

In [ ]:
pipe_t.predict_proba(Xt_test)[0]

In [ ]:
import pickle
pickle.dump(pipe_t, open('ipl_toss_pipe.pkl', 'wb'))

In [ ]:
toss_df['match_type'].unique()